/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", "Roboto", serif;
    background-color: #fff;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

/*
Colors used:
Primary Color (Blue): #98B8C7;
Primary Color (Green): #87BBA2;
Secondary Color (Light Green): #B3CC81;
Tertiary Color (Pink): #D7B0BD;
Gray: #4F4F4F;
Light Gray: #F7F4EE;
White: #FFFFFF
*/
a {
    color: black;
}

a:visited { /* visited link */
    color: #728e6c;
}

a:active { /* selected link */
    color: black;
}

a:hover,
a:focus {
    color: #728e6c;
    text-decoration: underline;
}
nav a {
    color: #728e6c;
}

a.social-media-link {
    text-decoration: none;
}

img {
    object-fit: cover;
    width: 100%;
}

img.social-media {
    height: 30px;
    width: 30px;
    margin: 0 4px;
}

img.logo {
    max-width: 150px;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 24px;
    top: 26px;
    font-size: 24px;
    padding-right: 0;
}

.navtoggle.responsive li {
    display: block;
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: white;
    color: black; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    transition: 0.2s opacity;
    transition-duration: 1s;
    transition-property: opacity;
}

.button:hover {
    background-color: #728e6c;
    color: #fff;
    opacity: 0.5;
}

header {
    background: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
    position: fixed;
    width: 100%;
}

main {
    padding-top: 114px;
}
.profile-picture {
    display: block; 
    width: 240px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.container {
    padding: 0 15px;
}

.row {
    padding: 20px 0;
}

nav > ul > li > a {
    padding: 0 10px;
}

#hero {
    text-align: center;
    padding: 30px 10px;
    background-color: #dae7c1;
    display: inline-block;
    width: 100%;
}

#hero h1 {
    padding-bottom: 15px;
}

#work-and-projects {
    padding: 20px 15px;
}

#work-and-projects h3 {
    padding: 10px 0;
}

#work-and-projects a {
    margin: 10px 0;
    display: inline-block;
}

#footer {
    background: #dae7c1;
    text-align: center;
    padding: 20px 15px;
}

#footer p {
    padding: 10px 0;
}

#about h2 {
    text-align: center;
    padding: 30px 0;
}
#about h2 { margin-top: 0; }

.skills-and-tools {
    margin: 20px 0;
}
.skills-and-tools h3 {
    padding: 10px 0;
}
.skills-and-tools-row {
    padding: 20px;
}
.skills-and-tools-row .col-md-6 {
    margin-bottom: 10px;
}

.my-story p {
    padding: 10px 0;
}

.inline-block {
    display: inline-block;
}

.care-and-share-block {
    display: inline-block;
    padding: 0 10px;
}

.care-and-share-block div {
    font-weight: bold;

}

#care-and-share h1 {
    text-align: center;
    padding: 10px 0;
}

#care-and-share h2 {
    padding: 10px 0;
}

#care-and-share .solution div {
    text-align: center;
}

#care-and-share img {
    padding-bottom: 20px;
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
    0% { fill: #edc655; }
    50% { fill: #fcffad; }
    100% { fill: #f76414; }
}

@keyframes cloud-move {
    from { transform: translate(0, 50px); }
    to { transform: translate(200px, 50px); }
}

@keyframes cloud-move-reverse {
    from { transform: translate(446px, 48px); }
    to { transform: translate(100px, 48px); }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 30px;
        margin-right: 10px;
        font-size: 18px;
    }

    main {
        padding-top: 125px;
    }


    .profile-picture {
        display: block; 
        width: 200px;
        margin: 0 auto;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 0 10px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    img.logo {
        max-width: 150px;
    }

    nav > ul > li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
